.slider-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  button {
    z-index: 10;
    cursor: pointer;
  }
  
  .dots {
    display: flex;
    justify-content: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot:hover,
  .dot.active {
    background-color: #fff;
  }
  